[submodule "ms-project-system"]
	path = ms-project-system
	url = https://github.com/MintonQi/ms-project-system.git
[submodule "ms-project-common"]
	path = ms-project-common
	url = https://github.com/MintonQi/ms-project-common.git
[submodule "ms-project-logging"]
	path = ms-project-logging
	url = https://github.com/MintonQi/ms-project-logging.git
[submodule "ms-project-tools"]
	path = ms-project-tools
	url = https://github.com/MintonQi/ms-project-tools.git
